# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
coverage/

# Env
.env
.env.local
.env.test

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jest cache
jest-cache/